*{
    padding: 0  ;
    margin: 0;
}
nav{
    
    width: 100%;
    height: 60px;
    background-color:#CA6CF6;
    justify-content: center;
    display: flex;
    position: fixed;

}
nav ul{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

nav ul li{
    align-items: center;
    list-style: none;
    width: 100%;
    margin-left: 200px;
    
    
}
nav ul li a{
    display: flex;
    text-decoration: none;
    font-family: 'Sigmar', cursive;
    color: black;
    font-size: larger;
}
nav ul li :hover{
    color: white;
    transition: 0.3s all ;
}
#home{
    background-color: #8D5DD4;
    display: flex;
    width: 100%;
    font-size: x-large;
}

.foto{
    width: 1000px;
    background-color: #8D5DD4;
    justify-content:center;
    height: 800px;
    align-items: center;

}
.foto img{

    border-radius: 50%;
    animation: SlowFloat 1s infinite alternate;
    width: 500px;
    height: 500px;
    padding: 150px 250px 150px 250px;
   
}
@keyframes SlowFloat {
    0% { transform: translateY(0);}
    100% { transform: translateY(-30px);}}
  
.texto{
    display: 60%;
    padding: 250px 200px 0px 100px;
    font-family: 'Sigmar', cursive;
}
#portfolio{
    width: 100%;
    background-color:#8374EB;
    align-items: center;
    justify-self: center;
    height: 800px;
    font-family: 'Sigmar', cursive;
    font-size: x-large;
}
#portfolio h1{
    text-align: center;
}
#portfolio img{
    width: 800px;
    height: 500px;
    margin-left: 200px;
}
#portfolio h3{
    margin-left: 200px;
}
#portfolio p {
    margin-left: 200px;
}
#portfolio ul{
    display: flex;
    gap:  2rem;
    list-style: none;
}
#services{
    width: 100%;
    background-color: #5D6DD4;
    font-family: 'Sigmar', cursive;
    text-align: center;
    font-size: x-large;
    height: 550px;

}
#services :not(:first-child){
    padding-top: 50px;

}
#contact{
    width: 100%;
    font-family: 'Sigmar', cursive;
    height: 12vh;
    font-size: larger;
    padding: 100px 0 0 300px;
    background-color:#8374EB;
}

i{
    font-size:60px;
}
footer{
    font-family: 'Sigmar', cursive;
    width: 100%;
    background-color:#9890c8;
   text-align: center;
   height: 50px;
   font-size: larger;
}
footer p{
    padding-top: 10px;

}
